<section class="w-full h-full overflow-hidden relative text-center">
  <div class="relative z-20 flex flex-col h-screen">
    <header>
      <h2
        class="text-white mt-[7.9%] px-6 text-[40px] font-medium tracking-[-0.015em] -mb-[0.5px]"
      >
        Experience Tesla
      </h2>

      <p class="-mt-[0.5px] text-white text-[14px] px-6 pb-[14px] text-sm">
        Schedule a Test Drive Today
      </p>
    </header>

    <footer class="flex flex-col flex-grow pb-20 justify-end items-center">
      <a
        class="text-white border-[3px] border-white rounded-[4px] px-6 py-[5px] hover:bg-white hover:text-black transition-all duration-[3000ms] ease-in-out"
        href="#"
        ><span class="text-sm font-medium px-[68px]">Test Drive</span></a
      >
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 z-10">
    <video
      class="object-cover h-full w-screen"
      autoplay
      muted
      loop
      src="video.webm"
    >
    </video>
  </div>
</section>
