---
import Logo from "./Logo.astro";
---

<header
  id="landing-header"
  class="flex items-center fixed top-0 w-full justify-between z-40 text-white"
>
  <h1 class="pl-8 py-4 flex flex-grow basis-0">
    <a class="pl-4" href="#" aria-label="Tesla Logo">
      <Logo />
    </a>
  </h1>
  <nav>
    <ul
      class="flex text-sm py-3.5 [&>li>a>span]:transition-colors [&>li>a>span]:duration-500 [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-2 [&>li>a]:py-1 [&>li>a>span]:mx-2"
    >
      <li>
        <a href="#"><span>Model S</span></a>
      </li>
      <li>
        <a href="#"><span>Model 3</span></a>
      </li>
      <li>
        <a href="#"><span>Model X</span></a>
      </li>
      <li>
        <a href="#"><span>Model Y</span></a>
      </li>
      <li>
        <a href="#"><span>Powerwall</span></a>
      </li>
      <li>
        <a class="px-1 py-2" href="#"><span class="mx-2">Charging</span></a>
      </li>
    </ul>
  </nav>

  <nav class="flex flex-grow basis-0 justify-end pr-8">
    <ul
      class="flex text-sm py-3.5 [&>li>a>span]:transition-colors [&>li>a>span]:duration-500 [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-2 [&>li>a]:py-1 [&>li>a>span]:mx-2"
    >
      <li><a href=""><span>Support</span></a></li>
      <li><a href=""><span>Shop</span></a></li>
      <li><a href=""><span>Account</span></a></li>
      <li><a href=""><span>Menu</span></a></li>
    </ul>
  </nav>

  <div
    id="menu-backdrop"
    class={`
  absolute 
  bg-black/5 
  backdrop-blur-lg 
  rounded
  translate-x-[var(--left)] translate-y-[var(--top)]
  left-0 top-0 
  w-[var(--width)] h-[var(--height)]
  transition-all duration-500 ease-in-out opacity-0 -z-10
  `}
  >
  </div>
</header>

<script>
  const listItem = document.querySelectorAll("#landing-header li");
  const menuBackdrop = document.querySelector("#menu-backdrop") as HTMLElement;

  listItem.forEach((item) => {
    item.addEventListener("mouseenter", () => {
      const { left, top, width, height } = item.getBoundingClientRect();
      menuBackdrop.style.setProperty("--left", `${left}px`);
      menuBackdrop.style.setProperty("--top", `${top}px`);
      menuBackdrop.style.setProperty("--width", `${width}px`);
      menuBackdrop.style.setProperty("--height", `${height}px`);
      menuBackdrop.style.opacity = "1";
      menuBackdrop.style.visibility = "visible";
    });

    item.addEventListener("mouseleave", () => {
      menuBackdrop.style.opacity = "0";
      menuBackdrop.style.visibility = "hidden";
    });
  });
</script>

<script>
  const header = document.querySelector("#landing-header") as HTMLElement;

  const observerOptions = {
    root: null,
    rootMargin: "-170px",
    threshhold: 1,
  };

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      const { isIntersecting } = entry;
      if (isIntersecting) {
        const color = entry.target.getAttribute("data-header-color");
        header.style.color = color;
      }
    });
  }, observerOptions);

  const sections = document.querySelectorAll(".landing-section");
  sections.forEach((section) => {
    observer.observe(section);
  });
</script>
