<section
  class="landing-section w-full h-full overflow-hidden relative text-center"
  data-header-color="black"
>
  <div class="relative z-20 flex flex-col h-screen">
    <header>
      <h2
        class="text-black mt-[7.9%] px-6 text-[40px] font-medium tracking-[-0.015em] -mb-[0.5px]"
      >
        Model S
      </h2>
    </header>

    <footer class="flex flex-col flex-grow pb-6 justify-end items-center">
      <div class="flex flex-col flex-grow justify-end content-around">
        <div class="flex flex-row gap-6 mb-4 py-[10px]">
          <a
            class="text-white bg-buttonBlack border-4 border-transparent rounded-[4px] px-6 py-1"
            href="#"
            ><span
              class="inline-block text-sm font-medium min-w-[210px] max-h-[16.8px]"
              >Explore Inventory</span
            ></a
          >
          <a
            class="text-gray-600 bg-buttonWhite/70 border-4 border-transparent rounded-[4px] px-6 py-1"
            href="#"
            ><span
              class="inline-block text-sm font-medium min-w-[210px] max-h-[16.8px]"
              >Test Drive</span
            ></a
          >
        </div>
        <p class="text-[12px] font-light">Only available as left-hand drive</p>
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 z-10">
    <img class="object-cover h-full w-screen" src="ModelSHomePage.avif" />
  </div>
</section>
