<section
  class="landing-section w-full h-full overflow-hidden relative text-center"
  data-header-color="black"
>
  <div class="relative z-20 flex flex-col h-screen">
    <header>
      <h2
        class="text-black mt-[7.9%] px-6 text-[40px] font-medium tracking-[-0.015em] -mb-[0.5px]"
      >
        Solar and Powerwall
      </h2>

      <p
        class="-mt-[0.5px] text-buttonBlack text-[14px] px-6 pb-[14px] text-sm"
      >
        Power Everything
      </p>
    </header>

    <footer class="flex flex-col flex-grow pb-20 justify-end items-center">
      <div class="flex flex-col flex-grow justify-end content-around">
        <a
          class="text-white bg-buttonBlack border-4 border-transparent rounded-[4px] px-6 py-1"
          href="#"
          ><span
            class="inline-block text-sm font-medium min-w-[210px] max-h-[16.8px]"
            >Learn More</span
          ></a
        >
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 z-10">
    <img class="object-cover h-full w-screen" src="SolarPanelsPage.avif" />
  </div>
</section>
